/*menu botones*/
* {
    font-family: Georgia, serif;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* Alinea los elementos a la derecha */
    align-items: center;
    /* Centra verticalmente los elementos */
}

/*menu izquierda*/
.navbar-nav .nav-item {
    display: inline-flex;
    padding: 1rem 1.5rem;
    font-size: 20px;
    font-family: Georgia, serif;
    border-radius: 20px;
    transition: box-shadow 0.2s;
    /* Transición para el sombreado */
}

/*estilo casillas*/
.navbar-nav .nav-item:hover,
.navbar-nav .nav-item:active {
    box-shadow: 0 0 10px rgb(53, 2, 58);
    /* Sombreado al pasar el ratón o hacer clic */
    background-color: rgba(0, 0, 0, 0.122);
    /* Fondo transparente negro al hacer clic */
}

/*titulo*/
.vital-yaiza {
    font-family: Georgia, serif;
    font-size: 30px;
    margin-left: 10px;
}

/*logo*/
.logo {
    height: 80px; /* Corregido el valor */
    width: 80px;
}

/*botones para abajo*/
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

/*el titulo si tocas*/
.dropdown-menu a {
    display: block;
    font-family: Georgia, serif;
    padding: 1rem 2rem;
    color: #212529;
    text-decoration: none;
    transition: background-color 0.2s;

}

.dropdown-menu a:hover {
    background-color: #e9e9e9;
}



/*footer*/
.footer {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.footer h5 {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: #007bff;
}

.map-container {
    height: 150px; /* Altura del mapa */
    width: 150px; /* Ancho del mapa */
    overflow: hidden; /* Para asegurarse de que el mapa no se desborde del contenedor */
    border-radius: 5px; /* Añade bordes redondeados al contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave al contenedor */
}


.footer hr {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer p {
    color: #555;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
/* Estilos para el contenedor principal */
.container {
    width: 100%;
    max-width: 1200px; /* Puedes ajustar el máximo ancho según tus necesidades */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 0 20px; /* Agrega un poco de espacio en los bordes */
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho del contenedor */
}

/* Estilos para hacer que los elementos del footer se vean en línea en dispositivos más pequeños */
@media (max-width: 991px) {
    .footer .container .row {
        flex-direction: column;
    }
}

/* Otros estilos para hacer que la página se vea completa y responsive */
.navbar-collapse.show {
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 56px;
    left: 0;
    z-index: 1000;
}

.dropdown-menu {
    position: static;
    float: none;
    width: 100%;
    
}

.dropdown-menu a {
    display: block;
} 
/* Estilos para el botón */
#btn-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 60%;
    cursor: pointer;
    display: none; /* Ocultar el botón por defecto */
  }
  
  #btn-scroll-top:hover {
    background-color: #0056b3;
  }
  


/* Estilos adicionales para ajustar el menú desplegable en pantallas pequeñas */
@media (max-width: 991px) {
    .dropdown-menu {
        position: absolute !important;
        top: auto !important;
        left: auto !important;
        right: 0;
    }
}  

.dropdown-menu.show {
    display: block;
    background-color: #f8f9fa; /* Cambia el color de fondo según tu preferencia */
}

