body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / .75), rgb(0 0 0 / .5)), url(../img/fon.jpg);
    background-image: linear-gradient(to bottom, rgb(0 0 0 / .75), rgb(0 0 0 / .5)), url(../img/imgfisio4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    color: white;
}

.servicio-container {
    display: flex;
    max-width: 1800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #acb7dca0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.servicio-content {
    display: flex;
}

.servicio-img {
    max-width: 900px;
    margin-right: 20px;
}

.servicio-img img {
    width: 100%;
    border-radius: 15px;
}

.servicio-descripcion {
    max-width: 600px;
    text-align: justify;
}

h2 {
    margin-top: 20px;
    font-size: 2.5em;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.5s ease;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

.btn2 {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ec5cef;
    outline: none;
    transition: 1s ease-in-out;
}

.border {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn2:hover {
    transition: 1s ease-in-out;
    background: #b34fda;
}

.btn:hover .border {
    stroke-dashoffset: -480;
}

.btn2:hover .border {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.btn2 span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

h2:hover {
    text-shadow: 2px 2px 4px rgba(40, 0, 119, 0.786);
    color: #da2d2d;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 10px;
}